{% extends 'base.html.twig' %}

{% block body%}
<div class="row">
  <div class="col-xs-12 hpDiv">
    <img id="hpLogo" src="{{asset('img/logo.png')}}" />
    <a href="{{url('selectMode')}}"><div class="bigButton">GIOCA ORA!</div></a>
    <p class="info">Impara tutte le bandiere del mondo con FlagProChallange! Due diverse modalità di gioco, numerosi set di bandiere suddivisi per continente, ma anche set più impegnativi per veri appassionati, che potranno divertirsi con le bandiere storiche, regionali o appartenenti a stati non universalmente riconosciuti. Accetta la sfida!</p>
  </div>
</div>
{% endblock %}
